.main-grid-container_gallery {
  display: grid;
  grid-template-rows: 
  6rem auto 12rem;
  grid-template-columns: 
  1fr 7fr 1fr;
  grid-template-areas: 
  'header header header'
  'hero hero hero'
  'footer footer footer';
}

.hero_gallery {
  grid-area: hero;
  background-color: mistyrose;
  isolation: isolate;

  position: relative;
  display: grid;
  padding-inline: 2.5rem;
}

.hero_gallery::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(var(--color-gradient1), var(--color-gradient2));
  opacity: 0.35;
  z-index: -1;
}

.hero_gallery::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('images/coffee-seamless-pattern-freepik.avif');
  background-repeat: repeat;
  background-size: 500px;
  opacity: 0.25;
  z-index: -2;
}

.grid-view-options {
  text-align: center;
  margin: 1.5rem 0;
}

.grid-view-options button {
  font-size: 1.3rem;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  border: none;
  background-color: var(--color-cream);
  color: var(--color-brown);
  box-shadow: 0 0 2px 1px var(--color-brown);
  cursor: pointer;
  transition: all 200ms ease-out;
}

.grid-view-options button:hover {
  background-color: var(--color-white);
}

.grid-btn.active {
  background-color: var(--color-white);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.image-column {
  flex: 50%;
  padding: 0 5px;
}

.image-column img {
  vertical-align: middle;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  transition: all 100ms linear;
}

.image-column img:hover {
  outline: 3px solid var(--color-cream);
}

.gallery-container img {
  width: 100%;
}

.gallery-modal {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 10vh 0;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  margin: auto;
  display: block;
  height: 80vh;
  animation-name: zoom;
  animation-duration: 400ms;
}

@keyframes zoom {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

.close-button {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  color: var(--color-cream);
  font-size: 2rem;
  cursor: pointer;
  transition: all 250ms ease-out;
}

.close-button:hover,
.close-button:focus {
  color: var(--color-white);
}

@media screen and (max-width: 680px) {
  .modal-content {
    height: auto;
    width: 100vw;
 }
}