*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-cream: rgb(254, 226, 195);
  --color-brown:  rgb(123, 67, 45);
  --color-pink: pink;
  --color-white: white;
  --color-mistyrose: mistyrose;
}

html {
  scroll-behavior: smooth;
}
/* font-family: "Exile", system-ui; */
/* font-family: "Lilita One", sans-serif; */
body {
  position: relative;
  background-color: var(--color-mistyrose);
  font-family: "Poppins", sans-serif;
}

.main-grid-container {
  display: grid;
  grid-template-rows: 
  6rem 55vh auto 12rem;
  grid-template-columns: 
  1fr 5fr 2fr 1fr;
  grid-template-areas: 
  'header header header header'
  'hero hero hero hero'
  '. main sidebar .'
  'footer footer footer footer';
}

header {
  grid-area: header;
  border-bottom: 1px solid var(--color-pink);
}

header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: var(--color-cream);
}

header .menu-options,
.social-links {
  display: flex;
}

.menu-options li {
  font-size: 1.3rem;
  padding-inline: 0.5rem;
}

.menu-options li a,
.social-links li a {
  transition: color 250ms ease-in-out;
}

.menu-options li:hover a,
.social-links li:hover a {
  color: var(--color-white);
}

.social-links li:not(:last-child)  {
  margin-right: 7px;
}

.social-links i {
  font-size: 1.3rem;
}

header, 
footer {
  /* background-color: burlywood; */
  background-color: var(--color-brown);
}

header .logo img {
  height: 60px;
}

.hero {
  grid-area: hero;
  background-color: mistyrose;
  background-image: url('images/coffee-beans-bg.jpg');
  background-size: cover;
  /* background-blend-mode: luminosity; */
  background-blend-mode: multiply;
  isolation: isolate;

  position: relative;
  display: grid;
  place-content: center;
  text-align: center;
  padding-inline: 2.5rem;
  /*  style="font-size:3rem; text-shadow: 4px 4px 5px rgb(0, 0, 0, 0.7);" */
}

.hero::before {
  position: absolute;
  inset: 0;
  content: '';
  background-image: linear-gradient(rgb(142, 16, 16), rgb(224, 25, 125));
  opacity: 0.25;
  z-index: -1;
}

.hero-logo-div {
  text-align: center;
  margin-bottom: 1rem;
}

.hero-logo-div img {
  height: 220px;
}

.hero h1 {
  color: var(--color-cream);
  text-shadow: 0 0 10px rgba(60, 3, 3, 0.8);
  font-size: 4rem;
  font-family: "Exile", system-ui;
}

.hero p {
  color: var(--color-cream);
  font-size: 1.2rem;
  text-shadow: 0 0 6px rgba(60, 3, 3, 0.8);
}

.main {
  grid-area: main;
  padding: 1.5rem;
  margin: 2rem 0;
  border: 2px dashed var(--color-brown);
}

.introduction {
  margin-bottom: 2rem;
}

.introduction h2 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: "Lilita One", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.introduction p {
  padding-bottom: 0.5rem;
}

.card {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: min-content auto;
  grid-template-areas: 
  'image title'
  'image content';
  gap: 1.5rem;
}

.card:not(:last-child) {
  margin-bottom: 1.5rem;
}

.card .image-wrapper {
  grid-area: image;
  /* width: 300px;
  height: 300px; */
  width: 100%;
  max-width: 250px;
  aspect-ratio: 1 / 1;

  position: relative;
}

.card .image-wrapper::before {
  position: absolute;
  inset: 0;
  content: '';
  background-image: linear-gradient(rgb(142, 16, 16), rgb(224, 25, 125));
  opacity: 0.2;
  z-index: +1; 
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  filter: brightness(110%);
}

.card h2 {
  grid-area: title;
  font-family: "Lilita One", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.card .description {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--color-pink);
  margin: 2rem 0 2rem 1rem;
  padding: 1.5rem;
  border-radius: 0.6rem;
}

.sidebar h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.sidebar a {
  color: rgb(30, 30, 30);
}

.sidebar a:visited {
  color: var(--color-brown);
}

.coffee-facts {
  margin-top: 1.5rem;
}

.coffee-facts div {
  background-color: var(--color-cream);
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  box-shadow: 0 0 2px 2px rgb(123, 67, 45, 0.1);
}

.coffee-facts div:not(:last-child) {
  margin-bottom: 1rem;
}

.coffee-facts div i {
  font-size: 1.2rem;
  color: var(--color-brown);
  margin-right: 5px;
}

footer {
  grid-area: footer;
  border-top: 1px solid var(--color-pink);
}

.logo-social-links-div {
  text-align: center;
  padding: 0.5rem 0;
}

.logo-social-links-div nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 0.5rem;
}

.logo-social-links-div nav li:not(:last-child) {
  margin-right: 6px;
}

.logo-social-links-div li i {
  transition: color 250ms ease-in-out;
}

.logo-social-links-div li:hover i {
  color: var(--color-white);
}

.logo-social-links-div li i{
  color: var(--color-cream);
}

.footer-logo {
  height: 100px;
}

.copyright {
  font-size: 0.8rem;
  color: var(--color-cream);
  margin-top: 0.5rem;
}

.to-top-btn {
  position: absolute;
  right: 3rem;
  top: 130vh;
  bottom: 14rem;
}

/* SCROLL TO TOP BUTTON */

.to-top-btn a {
  position: sticky;
  top: 90vh;

  text-decoration: none;
  background-color: var(--color-brown);
  color: var(--color-cream);
  padding: 1.5rem 1rem 0.5rem;
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity 250ms ease-in-out;
}

.to-top-btn a:hover {
  opacity: 0.9;
}

.to-top-btn a i {
  font-size: 2rem;
}