*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* font-family: "Exile", system-ui; */
/* font-family: "Lilita One", sans-serif; */
body {
  background-color: mistyrose;
  font-family: "Poppins", sans-serif;
}

.main-grid-container {
  display: grid;
  grid-template-rows: 
  8rem 55vh auto 8rem;
  grid-template-columns: 
  1fr 5fr 2fr 1fr;
  grid-template-areas: 
  'header header header header'
  'hero hero hero hero'
  '. main sidebar .'
  'footer footer footer footer';
}

header {
  grid-area: header;
  display: flex;
}

header, 
footer {
  /* background-color: burlywood; */
  background-color: rgb(123, 67, 45);
}

header .logo img {
  height: 80px;
}

.hero {
  grid-area: hero;
  background-color: mistyrose;
  background-image: url('images/coffee-beans-bg.jpg');
  background-size: cover;
  /* background-blend-mode: luminosity; */
  background-blend-mode: multiply;
  isolation: isolate;

  position: relative;
  display: grid;
  place-content: center;
  text-align: center;
  padding-inline: 2.5rem;
  /*  style="font-size:3rem; text-shadow: 4px 4px 5px rgb(0, 0, 0, 0.7);" */
}

.hero::before {
  position: absolute;
  inset: 0;
  content: '';
  background-image: linear-gradient(rgb(142, 16, 16), rgb(224, 25, 125));
  opacity: 0.25;
  z-index: -1;
}
.hero-logo-div {
  text-align: center;
  margin-bottom: 1rem;
}
.hero-logo-div img {
  height: 220px;
  
}
.hero h1 {
  color: #fee2c3;
  text-shadow: 0 0 10px rgba(60, 3, 3, 0.8);
  font-size: 4rem;
  font-family: "Exile", system-ui;
}

.hero p {
  color: rgb(254, 226, 195);
  font-size: 1.2rem;
}

.main {
  grid-area: main;
  padding: 1.5rem;
  border: 2px dashed rgb(107, 107, 107);
}

.introduction {
  margin-bottom: 2rem;
}

.introduction h2 {
  text-align: center;
  line-height: 3rem;
  font-family: "Lilita One", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.introduction p {
  padding-bottom: 0.5rem;
}

.card {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: min-content auto;
  grid-template-areas: 
  'image title'
  'image content';
  gap: 1.5rem;
}

.card:not(:last-child) {
  margin-bottom: 1.5rem;
}

.card .image-wrapper {
  grid-area: image;
  /* width: 300px;
  height: 300px; */
  width: 100%;
  max-width: 250px;
  aspect-ratio: 1 / 1;

  position: relative;
}

.card .image-wrapper::before {
  position: absolute;
  inset: 0;
  content: '';
  background-image: linear-gradient(rgb(142, 16, 16), rgb(224, 25, 125));
  opacity: 0.2;
  z-index: +1; 
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  filter: brightness(110%);
}

.card h2 {
  grid-area: title;
  font-family: "Lilita One", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.card .description {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
  background-color: pink;
  margin: 2rem 0 2rem 1rem;
  padding: 1.5rem;
  border-radius: 0.6rem;
}

.sidebar h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.sidebar a {
  color: rgb(30, 30, 30);
}

.sidebar a:visited {
  color: rgb(123, 67, 45);
}

footer {
  grid-area: footer;
}